<div ng-controller="HooksCtrl">
  Hello {{User.get().email}} <br>
  <a href="/settings">Settings</a>
  <a href="" ng-click="User.logout()">Logout</a>
  <hr>
  
  <h3>Hooks</h3>
  
  <a href="" ng-click="showHookComposer = true">Add a new hook</a>
  
  <br>
  <br>
  
  <div ng-show="showHookComposer">
    <label for="">Title</label><br>
    <input type="text" ng-model="newHookTitle"><br><br>
    <label for="">Endpoint</label><br>
    http://fasten.io/hooks/ <input type="text" ng-model="newHookEndpoint"><br><br>
    <label for="">Domain</label><br>
    <input type="text" ng-model="newHookDomain"><br>
    <button ng-click="createHook()">Create Hook</button> <a href="" ng-click="showHookComposer = false">Cancel</a>
    <br>
    <br>
  </div>
  
  <div ng-show="hooks.length == 0">
    You have no hooks.
  </div>
  
  <div ng-repeat="hook in hooks | orderBy:'created_at'">
    - <strong>{{hook.title}}:</strong> {{hook.endpoint}} (<span ng-show="showToken">{{hook.token}}</span><a href="" ng-hide="showToken" ng-click="showToken = true">show token</a>) (<a href="" ng-click="removeHook(hook)">Delete</a>)
  </div>
</div>