<div ng-controller="HooksCtrl">
  <div class="hooks-wrapper">
    <h2 class="inline-block">Hooks</h2>
    <a href="/hooks/create" class="button create-hook">Create hook</a>
    
    <hr>
    
    <div ng-show="haveNoHooks()">
      You have no hooks.
    </div>
    
    <div class="loading" ng-show="loading">
      Loading hooks ...
    </div>
    
    <div ng-repeat="hook in hooks | orderBy:'created_at'">
      - <strong>{{hook.title}}:</strong> {{hook.endpoint}} ... <strong>Domains</strong>: {{hook.domains}} (<a href="" ng-click="removeHook(hook)">Delete</a>)
    </div>
  </div>
</div>