<header>
  <h2>Integrations</h2>
  <p>
    Fasten integrates with any app, any time, anywhere. Below are some examples and steps on how to configure several services to use Fasten
  </p>

  <nav class="integrations-nav">
    <a href="#github">Github</a>
    <a href="#stripe">Stripe</a>
    <a href="#trello">Trello</a>
  </nav>
</header>

<section class="padding30">
  <h3 id="github">Github</h3>
  <ol>
    <li>
      <p>Go to your repo settings by click on the <em>settings</em> tab on the right sidebar.</p>
      <p><img src="/img/integrations/github/settings.png" alt="Github repo settings" width="208"></p>
    </li>
    <li>
      <p>Once in settings, click on "Service Hooks" on the left sidebar.</p>
      <p><img src="/img/integrations/github/service-hooks.png" alt="Github repo service hooks" width="248"></p>
    </li>
    <li>
      <p>Now click on "WebHook URLs" in the middle column.</p>
      <p><img src="/img/integrations/github/webhook-urls.png" alt="Github webhook urls" width="227"></p>
    </li>
    <li>
      <p>Input your <em>Fasten</em> webhook url into the input box and click "Update Settings"</p>
      <p><img src="/img/integrations/github/webhook-urls-input.png" alt="Github webhook url input" width="477"></p>
    </li>
    <li>
      <p>Now go put your <a href="">Fasten embed code</a> into your app and go brag about it!</p>
    </li>
  </ol>

  <hr>

  <h3 id="stripe">Stripe</h3>
  <ol>
    <li>
      <p>Once logged into your Stripe account, go to your <a href="https://manage.stripe.com/account/webhooks" target="_blank">Webhook Settings</a></p>
      <p><a href="https://manage.stripe.com/account/webhooks" target="_blank"><img src="/img/integrations/stripe/settings.png" alt="Stripe webhook settings" width="357"></a></p>
    </li>
    <li>
      <p>Click the "Add URL" button on the bottom right of the popup.</p>
      <p><img src="/img/integrations/stripe/add-url.png" alt="Stripe add url" width="250"></p>
    </li>
    <li>
      <p>Input your <em>Fasten</em> webhook url into the input box and click "Create webhook URL"</p>
      <p><img src="/img/integrations/stripe/create-webhook.png" alt="Stripe create webhook" width="467"></p>
    </li>
    <li>
      <p>Now go put your <a href="">Fasten embed code</a> into your app and go brag about it!</p>
    </li>
  </ol>


  <hr>

  <h3 id="trello">Trello</h3>
  <ol>
    <li>
      <p>Since Trello has implemented its webhook system without a UI, you will need to see the <a href="https://trello.com/docs/gettingstarted/webhooks.html" target="_blank">Trello webhook docs</a> in order to set up your <em>Fasten</em> hook in Trello.</p>
      <p><img src="/img/albert.jpg" alt="It's difficult" width="279"></p>
    </li>
    <li>
      <p>Once the webhook is set up in Trello, you put your <a href="">Fasten embed code</a> into your app and go brag about it!</p></p>
    </li>
  </ol>
</section>