body,html{
  color:#333;
  font:300 15px/22px 'Helvetica Neue', Helvetica, Arial;
  height:100%;
  margin:0;
  padding:0;
  width:100%;
}

*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-font-smoothing: antialiased;
}

hr{
  background:#eee;
  border:0;
  height:1px;
  margin:30px 0;
}

ul{
  list-style:none;
  margin:0;
  padding:0;
}

ol{
  margin:0 0 0 20px;
  padding:0;
}

ol li{
  margin-bottom:30px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.container{
  height:100%;
  width:100%;
}

h1,h2,h3,h4,h5,h6{
  font-weight:300;
}

h3{
  font-size:20px;
  font-weight:500;
  margin-bottom:30px;
}

input[type="text"]{
  border:1px solid #ddd;
  border-radius:2px;
  height:36px;
  font-size:14px;
  padding:0 10px;
}

input[type="text"]:focus{
  outline:none !important;
}

button{
  background:#333;
  border-radius:2px;
  border:0;
  color:#fff;
  font-size:14px;
  display:inline-block;
  height:36px;
  line-height:36px;
  margin:0;
  padding:0 15px;
  vertical-align: top;
}

.dropdown-menu li.active a,
.dropdown-menu li.active a:hover{
  background:#eee;
  color:#333;
}

.ng-cloak{
  display:none;
}

.pull-right{
  float:right;
  vertical-align: top;
}

.btn{
  border:2px solid #333;
  border-radius:2px;
  color:#333;
  display:inline-block;
  font-weight:500;
  height:40px;
  line-height:36px;
  padding:0 20px;
}

.f-avatar{
  bottom:30px;
  cursor:pointer;
  display:block;
  font-size:12px;
  line-height:40px;
  left:30px;
  position:absolute;
  width:190px;
}

.f-avatar img{
  border-radius:20px;
  height:40px;
  display:inline-block;
  width:40px;
  vertical-align: top;
}

.f-avatar .dropdown-menu{
  border-radius:0px;
  border:0;
  color:#333;
  font-weight:100;
  margin-bottom:10px;
  padding:8px 0;
  
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.f-avatar .dropdown-menu li {
  display:block;
  width:100%;
}
.f-avatar .dropdown-menu a {
  display:block;
  padding:8px 30px;
}

.f-avatar .dropdown-menu:after {
  position: absolute;
  bottom: -6px;
  left: 14px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  border-left: 6px solid transparent;
  content: '';
}

.f-header{
  /*background:#333;*/
  color:#fff;
  display:table;
  height:100%;
  
  background: #f47709; /* Old browsers */
  background: -moz-linear-gradient(top,  #f47709 0%, #f79604 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f47709), color-stop(100%,#f79604)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f47709 0%,#f79604 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f47709 0%,#f79604 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f47709 0%,#f79604 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f47709 0%,#f79604 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47709', endColorstr='#f79604',GradientType=0 ); /* IE6-9 */
}

.f-header h1{
  left:30px;
  position:absolute;
  top:30px;
}

.f-header a{
  color:#fff;
}

.f-header nav{
  display:table-cell;
  vertical-align:middle;
}

.f-header nav a{
  border-bottom:1px solid rgba(255,255,255,0);
  border-top:1px solid rgba(255,255,255,0);
  display:block;
  padding:8px 30px;
}

.f-header nav a.active{
  border-top-color:rgba(255,255,255,0.15);
  border-bottom-color:rgba(255,255,255,0.15);
}

.f-content{
  padding:30px;
}